# ignore compiling folders
bin
obj
dep
lib
build

# ignore building files
*.out
*.o
*.d

# ignore documentation files
doc

# ignore tmp files
tmp

# ignore python lib object
*.pyc

# ignore system-wide config file
.DS_Store
*.swp
*.json

# ignore INI-like config files
*.ini

# ignore figures
*.png
*.jpg
*.jpeg
*.eps

# ignore data files
test_PSP
